 
 
button {
    color: rgb(13, 0, 255);
    background-color:rgb(241, 238, 238);
}

body {
    background-color: rgb(40, 170, 120);
    background-color: #e0e4de;
}

    #one {
        color:green;
    }
 #two {
    color: blue;
 }
 #three {
    color: aqua;
 }
#fore {
    color: honeydew;
}
 #id {
    color: cyan;
 }
 #box {
    background-color: blue;
 }
 .heading {
    color: rgb(255, 30, 0);
 }
button {
    color: black;
    background-color: green;
    }
    p {
        text-align: center;
    }
#ha {
    text-align: center;
    text-transform: capitalize;
    font: bolder;
}
    p {
        font-family: 'Times New Roman', Times, serif;
    }
  #outer {
    font-size:25px; 
  }
  #inner {
    font-size:10px;
  }