 * {
    padding: 0;
    margin: 0;
    color: white;
 }
button {
    color: rgb(13, 0, 255);
    background-color:rgb(241, 238, 238);
}
body {
    background-color: rgb(40, 170, 120);
    background-color: gray;
}
    #one {
        color:green;
    }
 #two {
    color: blue;
 }
 #three {
    color: aqua;
 }
#fore {
    color: honeydew;
}
 #id {
    color: cyan;
 }
 #box {
    background-color: blue;
 }

 .heading {
    color: rgb(255, 30, 0);
 }

button {
    color: black;
    background-color: green;
    }
    p {
        text-align: center;
    }

#ha {
    text-align: center;
    text-transform: capitalize;
    font: bolder;
    border-style: dashed;
    border-color: blue;
    height: 30px;
    width: 150px;
    background-color: gold;
    color: red;
}
    p {
        font-family: 'Times New Roman', Times, serif;
    }
  #outer {
    font-size:25px; 
  }
  #inner {
    font-size:10px;
  }
  /* div {
    height: 100px;
    width: 100px;
    background-color: greenyellow;
    border-color: aqua;
    border-style: double;
    border-width: 6px;
    border: 6px double aqua ; 
    padding: 9%;
     padding: 8px 5px 6px 7px;
    margin: 60px;
} */

 #no {
    height: 100px;
    width: 100px;
    background-color: black;
    border-radius:50%;
    color: white;
} 

 #navbar {
    height: 60px;
    background-color: #0f1111;
 }

button {
    background-color: #f08804;
    color: #e0e4de;
}

#logo {
    color: #f08804;
    font-size: 25px;
}

a {
    margin-right: 250px;
    text-decoration: none;
}

/* #highlight {
    width: 100px;
    height: 100px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
} */

#highlight1 { 
    background-color: rgba(170, 30, 55, 0.4)
}
#highlight2 {
    background-color: rgba(0, 255, 0, 0.55);
}
#highlight3 {
    background-color: rgba(9, 195, 237,1);
}

.set1 {
    height: 100px; 
    width: 100px; 
    border: 2px solid black;
    display: inline-block;
}

footer{
    background-color: #0f1111;
    text-align: center;
    color: white;
}

/* #set {
    height: 500px;
} */

 /* #box1 {
    height: 100px;
    width: 100px;
    background-color: yellow;
    font-size: 10px;
 }

 #box2 {
    height: 100px;
    width: 100px;
    background-color:cyan;
    margin-left: 10%;
    font-size: 2em;
 } */

 /* div {
    height: 10px;
    width: 10px;
    background-color: chartreuse;
    border: 2px solid black;
    display: inline-block; 

 }  */

#bulb {
    height: 180px;
    width: 120px;
    background-image: url(bulb_image.jpg.jpg);
    background-size:cover ;
    border-radius:10px;
    text-align:center;
    position: relative;
    right:0px;
}

body {
    text-align: center;
}

div {
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
}

#container {
    width: 800px;
    height: 200px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#box1 {
    background-color: aqua;
    color: bright black;
    
}
#box2 {
    background-color: pink;
    color: black;
}
#box3 {
    background-color: chartreuse;
    color: blue;
}
#box4 {
    background-color: black;
    color: white;
}
#box5 {
    background-color: blue;
    color: greenyellow;
}

.animation-button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration:none ;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
    transition-property: background-color, transform;
}
.animated-button:hover {
    background-color: #45a049;
    transform:scale(1.05);
}



/* this is not include in learning time */

/* html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #000;
} */
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.glow-on-hover:active {
    color: #000
}
.glow-on-hover:active:after {
    background: transparent;
}
.glow-on-hover:hover:before {
    opacity: 1;
}
.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


.nav {
    background-color: #00ffd5;
    display: flex;
    justify-content: space-evenly;
}
a {
    text-decoration: none;
    color: black;
}
li {
    list-style-type: none;
    background-color: white;
}

.outer {
    height: 300px;
    width: 300px;
    background-color: deepskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner {
    height: 100px;
    width: 100px;
    background-color: ghostwhite;
}

#media {
    height: 100px;
    width: 100px;
    background-color: #7a00ff;
}
@media (width : 400px) {
    #media {
        background-color: honeydew;
    }
}
@media (min-width : 500px ) {
    #media {
        background-color: red;
    }
}
@media (max-width : 1000px) {
    #media {
        background-color: greenyellow;
    }
}
@media (min-width : 350px) and (max-width : 700px) {
    #media {
        background-color: #48ff00;
    }
}

#animation {
    height: 150px;
    width: 150px;
    background-color: #48ff00;
    border: 2px solid black;
}
#animation:hover {
    background-color: #e0e4de;
    color: black;
}
#animation:active {
    background-color: black;
    color: white;
}

