body {
    background-color: cadetblue;
}

button {
    background-color: chartreuse;
    color: black;
}

#hello {
    color: gold;
}

#hell {
    color: blue;
}

.hel {
    color: blueviolet;
}

.box {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background-color: gold;
}


